body {
    overflow: hidden;
    background-color: black;
}
a {
    color: #c9c9ce; 
}
a:hover {
    color: #ffffff;
} 

.nav-icon {
    width: 16px;
    height: 16px;
}

.global-nav {
    font-size: 10px;
    height: 44px;
    position: relative;
}

.global-nav-links, .product-nav-links {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.global-nav-links {
    justify-content: space-between;

}

.global-nav-links li {
    margin-right: 20px;
    color: #ffffff;    
    z-index: 1;
  }


  .global-nav-links li:hover .dropdown {
    display:block;
}

  .dropdown {
    display: none;
    position: absolute;
    top: 0; /* 드롭다운 박스가 네브바 위에서부터 시작하도록 설정 */
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #161617;
    
  }

.dropdown-text {
    position:relative;
    top: 100px;
    
}


.product-nav {
    font-size: 10px;
    height: 52px;
}

.product-nav-links {
    border-bottom: 1px solid rgba(255,255,255,0.24);
}
 
.product-name { 
    font-size: 21px;
    font-weight:lighter;
    flex:1;
}

.product-nav-item {
    margin-left: 2em;
}

